@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');
body{
  background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url(../assets/24a26a96a57569166c2608476c5e6f85.png);
  font-family: montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh !important;
  justify-content: space-evenly;

}
.top-text{
color: #74102D;
}

.logo img{
    width:60%;
}

.profile-type{
  background: url(../assets/admin.png);
  text-align: center;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;

}
.profile-type1{
  background: url(../assets/Parent.png);
  text-align: center;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;

}
.profile-type2{
  background: url(../assets/student.png);
  text-align: center;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.profile-type3{
  background: url(../assets/staff.png);
  text-align: center;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.type {
  font-weight: 300;
  color: #74102D;
  font-size: 21px;
}
.bottom-text{
  color: #3B434F;
  margin-top: 40px;
}
.cirle {
  background-color: #74102D;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  right: -6px;
  bottom: -15px;
}
.cirle2 {
  background-color: #B79443;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  right: -6px;
  bottom: -15px;
}
.image-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
}
a:active {
  color: #d87107;
  text-decoration: underline;

}
a {
  text-decoration: none;
  color: white;

}
.link1:active{
  color: #74102D ;
  text-decoration: underline;

}
.link1:hover{
  color:#d87107 ;
  text-decoration: overline;
}
.link2:active{
  color:#d87107 ;
  text-decoration: overline;
}
.link2:hover{
  color: #74102D ;
  text-decoration: underline;
}
.h6, h6 {
  text-align: center;
}

@media (max-width:768px) {
  body{
    height: auto;
  }
  .profile-type {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .profile-type1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .profile-type2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .profile-type3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}