@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');
/* font families need to be inserted  */
.s-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.heading {
  font-family: "Montserrat","sans-serif";
  text-align: center;
}
h2 {
  font-size: 36px;
  color: #74102D;
  margin-top: 15px;
  margin-bottom: 15px
}
h3 {
  font-size: 24px;
  color: #B79443;
  margin-top: 15px;
  margin-bottom: 15px
}
h4 {
  font-size: 18px;
  color: #333334;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
}
table.result-info {
  empty-cells: show;
  background-color: #B79443;
  border: 1px solid black;
  color: white;
  font-size: 18px;
  font-family: Times New Roman;
}
table, tr,td {
  border: 1px solid #CCCCCC;
  empty-cells: show;
  border-collapse: collapse;
}
td{
  padding-left: 20px;
}
td.whitestroke{
  border: 1px solid white !important;
  empty-cells: show !important;
  border-collapse: collapse !important;
}
table.result td {
  border: 1px solid #CCCCCC;
  empty-cells: show;
  font-family: Source Sans Pro;
  font-size: 18px;
}
.result tr:nth-child(even){
  background-color: #EFEFEF;
}
td.brown{
  background-color: rgba(183, 148, 67, 0.85);
}
td.wine{
  background-color: #74102D;
}
td.center{
  text-align: center;
}
th.center{
  text-align: center;
}
td.bold{
  font-weight: 800;
}
td.red{
  color: #74102D;
}
td.comments{
  font-family: Sue Ellen Francisco;
  color: #4879B3;
  font-size: 24px;
}
table.bottom{
  font-size: 20px;
}
td.vertical {
  height: 165px;
  padding-left: 0px;
  width: 135px;
  padding-top: 0px;
  padding-right: 0px;
  transform: rotate(90deg);
  text-align: center;

}
td.nwidth{
  width: 25px;
}
